body {
    background-color: pink;
    background-image: url(../img/cat2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.top-nav {
    display: flex;
}
.top-nav div {
    margin: 4px 8px;
    font-size: 28px;
}
.top-nav a {
    text-decoration: none;
    color: blue;
}
.top-nav a:hover{
    color: red;
}
.cur a {
    font-size: 36px;
    color: blueviolet;
}