body {
    background-color: pink;
    background-image: url(../img/cat2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.top-nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
}
.top-nav div {
    font-size: 28px;
}
.top-nav div:first-child {
    margin: 8px 8px 0px auto;
}
.top-nav div:last-child {
    margin: 8px auto 0px 8px;
}
.top-nav a {
    text-decoration: none;
    color: blue;
}
.top-nav a:hover{
    color: red;
}
.cur a {
    font-size: 36px;
    color: blueviolet;
}
.position {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 100px;
    background-color: violet;
}
.position img {
    width: 100%;
}
.position div {
    margin-top: -40px;
    margin-left: 10px;
    color: darkblue;
    font-family: fantasy;
}