body {
    background-color: pink;
    background-image: url(../img/cat.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.top-nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
}
.top-nav div {
    font-size: 28px;
}
.top-nav div:first-child {
    margin: 8px 8px 0px auto;
}
.top-nav div:last-child {
    margin: 8px auto 0px 8px;
}
.top-nav a {
    text-decoration: none;
    color: blue;
}
.top-nav a:hover{
    color: red;
}
.title-cont {
    width: 100%;
    margin: 0;
    text-align: center;
    color: red;
    font-size: 40px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.title-cont p {
    margin: 68px auto 0 auto;
}
.cur a {
    font-size: 36px;
    color: blueviolet;
}